.topnav {
    background: linear-gradient(-124deg, pink 45%, green 40%, rgba(0,0,0,0) 30%, url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTLdnD6MRqFpk7a_kNqhqmYUekks44bhd3HObLaJGgZb3et88Pb');
    overflow: hidden;
    text-transform: capitalize;
}

.topnav a {
    float: left;
    color: pink;
    text-align: center;
    padding: 10px 12 px;
    font-size: 16px;
}